#token-hud .lights-hud-ate-selector-wrap {
  position: absolute;
  left: 75px;
  visibility: hidden;
  top: 50%;
  transform: translate(0%, -50%);
  width: max-content;
  max-width: 355px;
  max-height: 350px;
  text-align: start;
  grid-template-columns: 100px 100px 100px;
  overflow-y: auto;
}
#token-hud .lights-hud-ate-selector-wrap.list {
  grid-template-columns: unset !important;
  max-width: 450px;
}

#token-hud .lights-hud-ate-selector-wrap.active {
  visibility: visible;
}
#token-hud .lights-hud-ate-button-select {
  max-width: 300px;
  overflow-wrap: break-word;
  padding-top: 0;
  padding-bottom: 0;
  width: max-content !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
}

#token-hud .lights-hud-ate-button-select:hover .lights-hud-ate-button-image {
  opacity: 1 !important;
}

#token-hud .lights-hud-ate-button-select.list {
  max-width: 440px;
  width: 100% !important;
  margin: 8px 0px !important;
  line-height: 40px !important;
}

#token-hud .lights-hud-ate-button-image {
  width: 100px;
  height: 100px;
  margin: 2px;
  object-fit: contain;
}

#token-hud .lights-hud-ate-button-disabled span,
#token-hud .lights-hud-ate-button-disabled img,
#token-hud .lights-hud-ate-button-disabled video {
  opacity: 1 !important;
  filter: grayscale(100%);
}
#token-hud .lights-hud-ate-button-disabled span,
#token-hud .lights-hud-ate-button-disabled:hover img,
#token-hud .lights-hud-ate-button-disabled:hover video {
  /* opacity: 0.7 !important; */
  color: #ccc;
}

.token-sheet .lights-hud-ate-default {
  display: none;
}
.token-sheet .lights-hud-ate-default.active {
  display: block;
}

/** additional */

.lights-hud-ate-button-macro-preset,
.lights-hud-ate-button-macro-custom {
  background: whitesmoke;
}

.lights-hud-ate-button-icon-text.fas.fa-lightbulb {
  color: green;
  text-shadow: 0 0 8px green;
}

.lights-hud-ate-button-icon.fas.fa-lightbulb {
  left: 0;
  color: green;
  pointer-events: none;
}

.lights-hud-ate-button-icon-text.far.fa-lightbulb {
  color: red;
  text-shadow: 0 0 8px red;
}

.lights-hud-ate-button-icon.far.fa-lightbulb {
  left: 0;
  color: red;
  pointer-events: none;
}

.lights-hud-ate-button-icon-text.fas.fa-exclamation-triangle {
  color: yellow;
  text-shadow: 0 0 8px yellow;
}

.lights-hud-ate-button-icon.fas.fa-exclamation-triangle {
  left: 0;
  color: yellow;
  pointer-events: none;
}

.lights-hud-ate-button-icon-text.fas.fa-eye {
  color: purple;
  text-shadow: 0 0 8px purple;
}

.lights-hud-ate-button-icon.fas.fa-eye {
  left: 0;
  color: purple;
  pointer-events: none;
}

.lights-hud-ate-button-icon-text.fas.fa-hourglass {
  color: orange;
  text-shadow: 0 0 8px orange;
}

.lights-hud-ate-button-icon.fas.fa-hourglass {
  left: 0;
  color: orange;
  pointer-events: none;
}

#token-hud .lights-hud-ate-button-disabled video {
  opacity: 1 !important;
  filter: grayscale(100%);
}

#token-hud .lights-hud-ate-button-disabled-passive span,
#token-hud .lights-hud-ate-button-disabled-passive img,
#token-hud .lights-hud-ate-button-disabled-passive video {
  opacity: 1 !important;
  /* filter: grayscale(100%); */
}

.lights-hud-ate-sub-group {
  margin-left: 20px !important;
}
